Package: com.pixelomer.impostorconfig
Name: ImpostorConfig
Version: 0.0.1
Architecture: iphoneos-arm
Description: Among Us Configurator
  Makes it easy to set a custom Among Us server. This custom server will only be used when jailbroken.
Maintainer: pixelomer
Author: pixelomer
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2)
