Package: com.piercingimpulse.suslan
Name: sus LAN
Version: 1.2.1a
Architecture: iphoneos-arm
Description: Among Us Configurator
  From a forked version of ImpostorConfig by pixelomer and based on Proxom by Tudor3510, "sus LAN" aim to create a solution
  to play Among Us using the Local server over the Internet. You can either proxy a fake message on your network to connect to an external host,
  or create a proxy message to 10 different clients over Internet or VPN to play. Tested on iOS 8.x.x and 12.x, iPad and iPod. Works with most Among Us versions.
Maintainer: piercingimpulse
Author: piercingimpulse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2)
