Package: com.piercingimpulse.suslan
Name: sus LAN (iOS 8.X)
Version: 1.0.1a
Architecture: iphoneos-arm
Description: Among Us Configurator
  Forked version of ImpostorConfig by pixelomer, used on iOS 8.x to play LAN over internet.
  Uses codes also from Proxom.
Maintainer: piercingimpulse
Author: piercingimpulse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2)
