<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable sus LAN</string>
			<key>footerText</key>
			<string>Please remember to restart Among Us when enable/disable the tweak.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakLANEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>IP Address or Domain</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>127.0.0.1</string>
			<key>key</key>
			<string>HostIPAddress</string>
			<key>label</key>
			<string>Host IP/Domain</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Custom broadcast message</string>
			<key>isText</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>(Proxy)</string>
			<key>key</key>
			<string>CustomBroadcastMessage</string>
			<key>label</key>
			<string>Custom proxy name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EXPERIMENTAL FEATURES</string>
			<key>footerText</key>
			<string>Still working on on this features.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakVPNEnabled</string>
			<key>label</key>
			<string>ZeroTier Broadcast</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakPortEnabled</string>
			<key>label</key>
			<string>Custom Port</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Broadcast Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>47777</string>
			<key>key</key>
			<string>BroadcastPort</string>
			<key>label</key>
			<string>Broadcast Port</string>
		</dict>
		<dict>
		<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Host Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>22023</string>
			<key>key</key>
			<string>HostPort</string>
			<key>label</key>
			<string>Host Port</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Listening Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>47777</string>
			<key>key</key>
			<string>ListeningPort</string>
			<key>label</key>
			<string>Listening Port</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Receive Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>22023</string>
			<key>key</key>
			<string>ReceivePort</string>
			<key>label</key>
			<string>Receiving Port</string>
		</dict>
	</array>
	<key>title</key>
	<string>sus LAN Config</string>
</dict>
</plist>
