<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable sus LAN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweaksusEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>id</key>
			<string>GLOBAL_SWITCH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Broadcast options</string>
			<key>footerText</key>
			<string>You can configure your proxy message here. The Broadcast IP normally is 255.255.255.255, but if you are using VPN or cellular data, it may be different. In doubt, just leave it blank. If using a VPN, you can change with the subnet mask IP like xxx.xxx.xxx.255</string>
			<key>id</key>
			<string>BROADCAST_GLOBAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakBroadcastEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>id</key>
			<string>BROADCAST_SWITCH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Message</string>
			<key>isText</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>(Proxy)</string>
			<key>key</key>
			<string>CustomBroadcastMessage</string>
			<key>label</key>
			<string>Proxy name</string>
			<key>id</key>
			<string>BROADCAST_MESSAGE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>IP Address</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>127.0.0.1</string>
			<key>key</key>
			<string>GlobalBroadcast</string>
			<key>label</key>
			<string>Global Broadcast IP</string>
			<key>id</key>
			<string>BROADCAST_GLOBAL_IP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakVPNInfiniteLoop</string>
			<key>label</key>
			<string>Infinite Loop</string>
			<key>id</key>
			<string>INFINITE_LOOP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>25</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>25</string>
			<key>key</key>
			<string>TweakVPNTimer</string>
			<key>label</key>
			<string>Timer broadcast</string>
			<key>id</key>
			<string>BROADCAST_TIMER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Proxy Client Tunnel</string>
			<key>footerText</key>
			<string>Once enabled, will show a proxy message across your network to help you connecting to the host IP specified.
* NOTE * at the moment does not work over cellular data. If using a VPN, you must set your real local static IP in Client IP (you can check your static IP from the Settings → Wifi and click on the "i" button. Normally looks like 192.168.xxx.xxx)</string>
			<key>id</key>
			<string>GLOBAL_TUNNEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakLANEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>id</key>
			<string>TUNNEL_SWITCH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>IP Address or Domain</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>127.0.0.1</string>
			<key>key</key>
			<string>HostIPAddress</string>
			<key>label</key>
			<string>Host IP/Domain</string>
			<key>id</key>
			<string>TUNNEL_HOST_IP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>IP Address or Domain</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>ClientIPAddress</string>
			<key>label</key>
			<string>Client IP</string>
			<key>id</key>
			<string>TUNNEL_CLIENT_IP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Proxy Server</string>
			<key>footerText</key>
			<string>Perfect solution for hosting a game over VPN such as ZeroTier. You can choose how many clients broadcast your proxy server.
You need to know the IP address of the clients.</string>
			<key>id</key>
			<string>GLOBAL_SERVER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakVPNEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>id</key>
			<string>SERVER_SWITCH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>15</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>25</string>
			<key>key</key>
			<string>TweakVPNClientNumber</string>
			<key>label</key>
			<string>No of clients</string>
			<key>id</key>
			<string>CLIENTS_NUMBER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.1</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP1</string>
			<key>label</key>
			<string>Client 1</string>
			<key>id</key>
			<string>CLIENT_1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.2</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP2</string>
			<key>label</key>
			<string>Client 2</string>
			<key>id</key>
			<string>CLIENT_2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.3</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP3</string>
			<key>label</key>
			<string>Client 3</string>
			<key>id</key>
			<string>CLIENT_3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.4</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP4</string>
			<key>label</key>
			<string>Client 4</string>
			<key>id</key>
			<string>CLIENT_4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.5</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP5</string>
			<key>label</key>
			<string>Client 5</string>
			<key>id</key>
			<string>CLIENT_5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.6</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP6</string>
			<key>label</key>
			<string>Client 6</string>
			<key>id</key>
			<string>CLIENT_6</string>		
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.7</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP7</string>
			<key>label</key>
			<string>Client 7</string>
			<key>id</key>
			<string>CLIENT_7</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.8</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP8</string>
			<key>label</key>
			<string>Client 8</string>
			<key>id</key>
			<string>CLIENT_8</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.9</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP8</string>
			<key>label</key>
			<string>Client 9</string>
			<key>id</key>
			<string>CLIENT_9</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.10</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP10</string>
			<key>label</key>
			<string>Client 10</string>
			<key>id</key>
			<string>CLIENT_10</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.11</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP11</string>
			<key>label</key>
			<string>Client 11</string>
			<key>id</key>
			<string>CLIENT_11</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.12</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP12</string>
			<key>label</key>
			<string>Client 12</string>
			<key>id</key>
			<string>CLIENT_12</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.13</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP13</string>
			<key>label</key>
			<string>Client 13</string>
			<key>id</key>
			<string>CLIENT_13</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.14</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP14</string>
			<key>label</key>
			<string>Client 14</string>
			<key>id</key>
			<string>CLIENT_14</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>192.168.8.15</string>
			<key>isIP</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>TweakVPNIP15</string>
			<key>label</key>
			<string>Client 15</string>
			<key>id</key>
			<string>CLIENT_15</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EXPERIMENTAL FEATURES</string>
			<key>footerText</key>
			<string>Still working on on this features.</string>
			<key>id</key>
			<string>GLOBAL_EXPERIMENTAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>key</key>
			<string>TweakPortEnabled</string>
			<key>label</key>
			<string>Custom Port</string>
			<key>id</key>
			<string>PORT_SWITCH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Broadcast Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>47777</string>
			<key>key</key>
			<string>BroadcastPort</string>
			<key>label</key>
			<string>Broadcast Port</string>
			<key>id</key>
			<string>BROADCAST_PORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Host Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>22023</string>
			<key>key</key>
			<string>HostPort</string>
			<key>label</key>
			<string>Host Port</string>
			<key>id</key>
			<string>HOST_PORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Listening Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>47777</string>
			<key>key</key>
			<string>ListenPort</string>
			<key>label</key>
			<string>Listening Port</string>
			<key>id</key>
			<string>LISTEN_PORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Receive Port</string>
			<key>isNumeric</key>
			<true/>
			<key>defaults</key>
			<string>com.piercingimpulse.suslan</string>
			<key>default</key>
			<string>22023</string>
			<key>key</key>
			<string>ReceivePort</string>
			<key>label</key>
			<string>Receiving Port</string>
			<key>id</key>
			<string>RECEIVE_PORT</string>
		</dict>
	</array>
	<key>title</key>
	<string>sus LAN Config</string>
	<key>footerText</key>
	<string>piercingimpulse</string>
</dict>
</plist>